*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.vcf
*.pyc
*.swp
slurm*
.snakemake
.\#*
\#*
/data/
devpipe/
pipe/input
pipe/ref
/megadaph.mtdna/data/
/megadaph.mtdna/tmpdat/
/megadaph.mtdna/data-raw
.Rproj.user
