*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
.coverage
.cache
*.vcf
*.pyc
*.swp
*.bam
slurm*
.snakemake*
.\#*
\#*
output
/data/
devpipe/
pipe/input
pipe/ref
/megadaph.mtdna/data/
/megadaph.mtdna/tmpdat/
/megadaph.mtdna/data-raw
.Rproj.user
